body{
    background-image: url('images/fraise.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.h1-2{
    font-size: 95px;
}
.h1-1{
    color: #a10808;
}
.navs{
    margin-left: -12px;
    margin-right: -12px;
    background-color: #640505;
}
.nav-link{
    background-color: #640505 !important;
}
.textAcueil{
    background-color: rgba(238, 219, 195, 0.949);
}
.textAcueil button{
    background-color: #640505;
}
.prom {
    background-color: #640505c3;
}
.col-prom{
    border: 2px solid rgba(238, 219, 195, 0.949);
}
.promise{
    background-color: rgba(238, 219, 195, 0.949);
}
.footer{
    background-color: #370303;
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: -17px;
}
.about{
    margin-bottom: 15% !important;
}
.aboutText{
    background-color: rgba(238, 219, 195, 0.949); 
}
.About-Text{
    top: 300px ;
}
.text1 , .text2, .texte2-2{
    background-color: rgba(238, 219, 195, 0.949);
}
.text1{
    top: -50px;
}
.text2{
    width: 300px;
}
.texte2-2{
    width: 300px;
}
.timeCont{
    background-color: #640505c3; 
}
.colTime{
    border: 3px solid #d77878;
}
.openTime{
    background-color: rgba(238, 219, 195, 0.949);
}
.place, .callNum{
    font-size: small;
    margin-top: -15px;
}
.call{
    font-size: small;
}
.storeText{
    background-color: rgba(238, 219, 195, 0.949);
}
.storeTexte{
    margin-bottom: 15% !important;
}
@media screen and (max-width:821px) {
    .h1-2{
        font-size: 75px;
    }
    .acueil{
        margin-top: 150px;
        margin-bottom: -300px;
    }
    .textAcueil{
        bottom: -50px;
        width: 50% !important;
    }
    .textAcueil button{
        justify-content: center;
    }
    .prom{
        margin-top: 500px;
    }
    .about{
        margin-bottom: 47% !important;
    }
    .About-Text{
        top: 150px ;
    }
    .storeTexte{
        margin-bottom: 80% !important;
    }
    .storeText{
        margin-top: 40% !important;
    }
}
@media screen and (max-width:415px) {
    .h1-2{
        font-size: 55px;
    }
    .acueil{
        margin-top: 300px;
        margin-bottom: -280px;
    }
    .imgAcueil img{
        display: none;
    }
    .textAcueil{
        bottom: -150px;
        width: 95% !important;
        left: 10px;
    }
    .textAcueil button{
        justify-content: center;
    }
    .prom{
        margin-top: 500px;
    } 
    .about{
        margin-bottom: 150% !important;
    }
    .aboutText{
        width: 95% !important;
    }
    .part{
        margin-bottom: 150px !important;
        height: 85% !important;
    }
    .part2-2{
        margin-bottom: 150px !important;
        height: 85% !important;
    }
    .part2-2 .text1{
        left: 15% !important;
    }
    .part2-2 .texte2-2{
        left: 8% !important;
        top:200px;
    }
    .part2-2 .text1{
        left: 8% !important;
        right: 10% !important;
    }
    .text1{
        left: 9% !important;
        right: 10% !important;
    }
    .text2{
        top: 200px;
        left: 25px !important;
    }
    .day{
        position:  relative !important;
    }
    .openTime{
        text-align: center !important;
    }
    .storeTexte{
        margin-bottom: 250% !important;
    }
    .storeText{
        margin-top: 125% !important;
        width: 100% !important;
    }
}
